@charset "UTF-8";

.navbar-default {
	background-color:#4FBD73;
}

.navbar-header .navbar-brand, .navbar-header .navbar-brand:hover{
	color:white;
}


.navbar-default .navbar-text{
	color:white;
}
.signout, .signout:hover{
	color:white !important;
	font-weight: bold;
}

@media (min-width: 1400px){
	.container {
		width: 1400px;
	}
}


.sidebar-nav{
	position: relative;
	top: 0px;
	width: 240px;
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
}

.sidebar-nav li{
	line-height: 40px;
}

.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color: black;
}

.sidebar-nav li a:hover{
	text-decoration: none;
	color: white;
	background: #4FBD73;
}

.sidebar-nav .selected {
	color: white;
	background: #4FBD73;
}

.table .table-title{
	text-align: center;
	border-top: 0px;
}
.table{
	text-align: center;
	margin-bottom: 0px;
	table-layout: fixed;

}


.insert td{
	margin: 0 !important;
	padding: 0 !important;
}

.table >tbody>tr>td>input{
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;

	width: 100% !important;
	border-radius: 0 !important;
	line-height: 1 !important;

}


#table_header {
	position:relative;
	z-index: 2;
}
#table_content{
	overflow: hidden;
	height: 222px;

}

#table_wrapper{
	position:relative;
	width: 297px;

	overflow:hidden;
}

.calendar{
	position:relative;
	z-index: 1;

}


.table .data:hover, .table .prev_data:hover, .table .next_data:hover, .table .weekNum:hover{
	background: none repeat scroll 0% 0% rgba(79, 189, 115, 0.71);
	color: white;
	cursor:pointer;
	cursor:hand;
}


th:hover ~ td { /*Selects the whole week on week number hover*/
	background: none repeat scroll 0% 0% rgba(79, 189, 115, 0.71);
	color: white !important;
}


.table .prev_data, .table .next_data{
	color: #999999;
}

.table .data.clicked, .table .prev_data.clicked, .table .next_data.clicked, .table .weekNum.clicked{
	background: #4FBD73;
	color: white;
}
.table .data.available.clicked, .table .prev_data.available.clicked, .table .next_data.available.clicked{
	background: #4FBD73;
	color: white;
}

.table .data.available, .table .prev_data.available, .table .next_data.available{
	background: #568F56;
	color: white;
}

.table .prev_data.available{

}

.table .timeslots.clicked{
	background: #4FBD73;
	color: white;
}


.table .note-title{
	text-align: center;
}

.table .note-content{
	text-align: left;
}

#today{
	background: lightblue !important;
}

.timeslots:hover{
	background: none repeat scroll 0% 0% rgba(79, 189, 115, 0.71);
	color: white;
	cursor:pointer;
	cursor:hand;
}

.form-horizontal{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.form-horizontal .radio{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*
.hide{
	display: none;
}*/
.show{
	display: block;
}

th{
	text-align: center;
}

.table > tbody > tr > td{
	vertical-align: middle;
}

body{
	padding-top: 50px;

}
